* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #cbcab5;
}
header {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

nav {
  background-color: #8e9189;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.navigation-list > li {
  background-color: #494449;
  margin: 0 1rem;
  color: white;
}
.navigation-list > li:hover {
  background-color: white;
  color: #494449;
}

.navigation-list > li > a {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: white;
}
.navigation-list > li > a:hover {
  color: #494449;
}
main {
  display: flex;
  margin: 2rem;
  flex-direction: column;
}
.promotion {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 2rem;
  animation: promotion 2s infinite;
}

@keyframes promotion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  width: 100%;
  padding: 4rem 3rem;
  color: black;
  line-height: 1.6;
  font-size: 1.5rem;
  position: relative;
}
.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  left: 0;
  top: 0;
  z-index: -1;
  object-fit: cover;
}
.promocode {
  color: rgb(185, 12, 12);
  font-size: 1.7rem;
}
.promocode ~ sub {
  font-size: 0.8rem;
  color: grey;
}
.features {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.card {
  background-color: #aea897;
  margin: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 0.8rem;
  box-shadow: rgba(31, 31, 31, 0.35) 0px 10px 20px;
  transition: all 0.3s ease-in-out;
  line-height: 1.5;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: rgba(11, 11, 11, 0.7) 4px 10px 50px;
}
.card:active {
  border: 0.2rem rgb(110, 111, 102) solid;
  padding-top: 1.6rem;
}

.card > h2 {
  margin-bottom: 2rem;
  text-align: center;
}
.card > p {
  width: 20rem;
  font-size: 1.15rem;
}
.card > img {
  object-fit: cover;
  height: 16rem;
  width: 20rem;
  margin-bottom: 1rem;
}
.menu-list {
  font-size: 1.3rem;
  list-style-type: none;
  line-height: 1.5;
}
.menu-list > li:nth-child(n) {
  color: rgb(75, 130, 75);
}
.menu-list > li:nth-child(2n) {
  color: rgb(47, 72, 23);
}
footer {
  margin-top: 4rem;
  margin-right: 8rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
footer > div > img {
  margin-left: 8rem;
}
.copyright {
  color: rgb(89, 87, 87);
  border-top: 0.1rem solid rgb(24, 24, 24);
}

@media only screen and (max-width: 800px) {
  .promotion {
    margin: 2rem 1rem;
  }
  .card {
    padding: 3rem;
    margin: 1.2rem;
  }
  footer {
    justify-content: space-between;
  }
  footer > div > img {
    margin-left: 4rem;
  }
}
@media only screen and (max-width: 600px) {
  header > img {
    height: 4rem;
  }
  nav,
  main {
    margin: 2rem 0;
  }
  .navigation-list {
    flex-direction: column;
    width: 100%;
  }
  .navigation-list > li {
    margin: 0;
  }
  .navigation-list > li > a {
    display: block;
    width: 100%;
    text-align: center;
  }
}
